# Environment files
.env
.env.*
.env.example
# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Database files
database/*.db
database/*.sqlite3

# Test / cache folders
.pytest_cache/
.mypy_cache/
